.services {
  background-color: #212121;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  padding-top: 130px;
  border-top: 1px solid #565656;
}
.services .services-section {
  display: flex;
  margin-top: 2rem;
}
.services .header h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.services .header small {
  font-style: italic;
}
.services .service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
  padding: 3rem 1rem;
  margin-top: 30px;
  background-color: #424242;
  margin: 1rem;
  border-radius: 5px;
}
.services .service-card .icon {
  background-color: var(--themeColor--);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
