.skills {
  background-color: #282828;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  border-top: 1px solid #565656;
  padding-top: 130px;
}
.skills .header h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--themeColor--);
}
.skills .header small {
  font-style: italic;
}
.skills-section {
  display: flex;
  margin-top: 3rem;
  color: #ccc;
}

.skills-section .skill-content:hover {
  color: var(--themeColor--);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.skills-section .skill-content .skill-icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.skills-section .skill-content .skill-name {
  font-size: 1rem;
}
.html-icon {
  color: rgb(253, 113, 62);
}
.css-icon {
  color: rgb(26, 188, 238);
}
.js-icon {
  color: yellow;
}
.bootstrap-icon {
  color: rgb(177, 70, 240);
}
.rjs-icon {
  color: rgb(53, 197, 245);
}
.njs-icon {
  color: limegreen;
}
.firebase-icon {
  color: rgb(255, 218, 51);
}
.netlify-icon {
  color: rgb(3, 177, 177);
}
.py-icon {
  color: rgb(235, 161, 0);
}
.mongo-icon {
  color: lime;
}

@media (max-width: 992px) {
  .skills {
    padding: 20px;
    padding-top: 130px;
  }
}
